## 01 Import libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

## 02 Import data

In [2]:
#create path
path = r"C:\Users\Asus 17\OneDrive\Desktop\Achievement 6\amsterdam"

In [3]:
#import calendar
calendar = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'calendar.csv'))

In [4]:
#import listings
listings = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'listings.csv'))

In [117]:
#import listings_details
listings_details = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'listings_details.csv'), low_memory = False)

In [6]:
#import neighbourhoods
neighbourhoods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'neighbourhoods.csv'))

In [7]:
#import reviews
reviews = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'reviews.csv'))

In [8]:
# import reviews_details
reviews_details = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'reviews_details.csv'))

## 03 Calendar Wrangling

In [9]:
#take a look
calendar.shape

(7310950, 4)

In [10]:
calendar.head()

   listing_id        date available price
0        2818  2019-12-05         f   NaN
1       73208  2019-08-30         f   NaN
2       73208  2019-08-29         f   NaN
3       73208  2019-08-28         f   NaN
4       73208  2019-08-27         f   NaN

### Find Missing Values

In [11]:
# look for null
calendar.isnull().sum()

listing_id          0
date                0
available           0
price         6110879
dtype: int64

In [12]:
#check if the nulls correspond to unavailable
calendar['available'].value_counts(dropna = False)

available
f    6110879
t    1200071
Name: count, dtype: int64

### check for duplicates

In [13]:
# create a subset for calendar dups
cal_dups = calendar[calendar.duplicated()]

In [14]:
#take a look
cal_dups.shape

(0, 4)

### Check for mixed data types

In [15]:
# check for mixed data type columns
for col in calendar.columns.tolist():
    weird = (calendar[[col]].applymap(type) != calendar[[col]].iloc[0].apply(type)).any(axis=1)
    if len (calendar[weird]) > 0:
        print (col)

price

### Take a look at price

In [16]:
calendar['price'].describe()

count     1200071
unique       1036
top       $150.00
freq        51829
Name: price, dtype: object

In [17]:
calendar['price'].value_counts(dropna = False)

price
NaN          6110879
$150.00        51829
$200.00        35048
$100.00        34839
$250.00        34768
              ...
$748.00            1
$828.00            1
$662.00            1
$1,033.00          1
$1,804.00          1
Name: count, Length: 1037, dtype: int64

In [18]:
# remove the $
calendar['price'] = calendar['price'].str.extract('(\d+)', expand = False)

In [19]:
calendar['price'].value_counts(dropna = False)

price
NaN    6110879
150      51829
200      35048
100      34839
250      34768
        ...
866          1
873          1
781          1
825          1
828          1
Name: count, Length: 888, dtype: int64

In [20]:
# change dtype
calendar['price'] = calendar['price'].astype(float)

In [21]:
#try describe again
calendar['price'].describe()

count    1.200071e+06
mean     1.910672e+02
std      1.313657e+02
min      1.000000e+00
25%      1.060000e+02
50%      1.500000e+02
75%      2.350000e+02
max      9.990000e+02
Name: price, dtype: float64

In [22]:
calendar.dtypes

listing_id      int64
date           object
available      object
price         float64
dtype: object

### export wrangled calendar

In [23]:
#export calendar_wrangled
calendar.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'calendar_wrangled.csv'))

## 04 listings wrangling

In [24]:
#take a look at listings
listings.shape

(20030, 16)

In [25]:
listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,59,3,248,2018-11-28,2.10,1,44
1,3209,"Quiet apt near center, great view",3806,Maartje,NaN,Westerpark,52.390225,4.873924,Entire home/apt,160,4,42,2018-08-29,1.03,1,47
2,20168,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,NaN,Centrum-Oost,52.365087,4.893541,Entire home/apt,80,1,233,2018-11-30,2.18,2,198
3,25428,Lovely apt in City Centre (Jordaan),56142,Joan,NaN,Centrum-West,52.373114,4.883668,Entire home/apt,125,14,1,2018-01-21,0.09,2,141
4,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.386727,4.892078,Private room,150,2,171,2018-11-25,2.03,1,199

In [26]:
listings.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [27]:
listings.describe()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,2.003000e+04,2.003000e+04,0.0,20030.000000,20030.000000,20030.000000,20030.000000,20030.000000,17624.00000,20030.000000,20030.000000
mean,1.541725e+07,4.868570e+07,NaN,52.365212,4.888977,152.181178,3.328707,21.560459,1.06208,4.734698,59.913679
std,8.569404e+06,5.649635e+07,NaN,0.015996,0.035573,145.828976,12.537419,43.240292,1.33332,22.921886,104.027710
min,2.818000e+03,3.159000e+03,NaN,52.288378,4.753247,0.000000,1.000000,0.000000,0.01000,1.000000,0.000000
25%,8.188423e+06,8.093516e+06,NaN,52.355126,4.863595,96.000000,2.000000,3.000000,0.27000,1.000000,0.000000
50%,1.563049e+07,2.369450e+07,NaN,52.364590,4.886387,125.000000,2.000000,8.000000,0.62000,1.000000,3.000000
75%,2.202577e+07,6.827535e+07,NaN,52.375074,4.908288,175.000000,3.000000,22.000000,1.23000,1.000000,67.000000
max,3.058041e+07,2.293612e+08,NaN,52.424713,5.027689,8500.000000,1001.000000,695.000000,11.85000,208.000000,365.000000

### Look for Missing Values

In [28]:
# check for nulls
listings.isnull().sum()

id                                    0
name                                 38
host_id                               0
host_name                             4
neighbourhood_group               20030
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        2406
reviews_per_month                  2406
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [29]:
listings['neighbourhood_group'].value_counts(dropna = False)

neighbourhood_group
NaN    20030
Name: count, dtype: int64

In [30]:
# drop unnecessary columns
listings = listings.drop(columns = ['host_name', 'neighbourhood_group'])

### Check for Duplicates

In [31]:
# create a subset for listings dups
list_dups = listings[listings.duplicated()]

In [32]:
#take a look
list_dups.shape

(0, 14)

### Check for mixed dtypes

In [33]:
# check for mixed data type columns
for col in listings.columns.tolist():
    weird = (listings[[col]].applymap(type) != listings[[col]].iloc[0].apply(type)).any(axis=1)
    if len (listings[weird]) > 0:
        print (col)

name
last_review

In [34]:
# change dtype
listings['name'] = listings['name'].astype(str)

In [35]:
listings['last_review'] = listings['last_review'].astype(str)

In [36]:
#check again
for col in listings.columns.tolist():
    weird = (listings[[col]].applymap(type) != listings[[col]].iloc[0].apply(type)).any(axis=1)
    if len (listings[weird]) > 0:
        print (col)

### Export updated listings

In [37]:
listings.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'listings_wrangled.csv'))

## 05 Neighbourhood wrangling

In [38]:
# take a look at neighbourhoods
neighbourhoods.shape

(22, 2)

In [39]:
neighbourhoods

    neighbourhood_group                           neighbourhood
0                   NaN                         Bijlmer-Centrum
1                   NaN                            Bijlmer-Oost
2                   NaN                           Bos en Lommer
3                   NaN                  Buitenveldert - Zuidas
4                   NaN                            Centrum-Oost
5                   NaN                            Centrum-West
6                   NaN                  De Aker - Nieuw Sloten
7                   NaN                  De Baarsjes - Oud-West
8                   NaN                 De Pijp - Rivierenbuurt
9                   NaN                   Gaasperdam - Driemond
10                  NaN                 Geuzenveld - Slotermeer
11                  NaN                IJburg - Zeeburgereiland
12                  NaN                              Noord-Oost
13                  NaN                              Noord-West
14                  NaN  Oostelijk Havengebied - Indische Buurt
15                  NaN                                  Osdorp
16                  NaN                               Oud-Noord
17                  NaN                                Oud-Oost
18                  NaN                             Slotervaart
19                  NaN                         Watergraafsmeer
20                  NaN                              Westerpark
21                  NaN                                    Zuid

In [40]:
# drop column
neighbourhoods = neighbourhoods.drop(columns = ['neighbourhood_group'])

In [41]:
neighbourhoods

                             neighbourhood
0                          Bijlmer-Centrum
1                             Bijlmer-Oost
2                            Bos en Lommer
3                   Buitenveldert - Zuidas
4                             Centrum-Oost
5                             Centrum-West
6                   De Aker - Nieuw Sloten
7                   De Baarsjes - Oud-West
8                  De Pijp - Rivierenbuurt
9                    Gaasperdam - Driemond
10                 Geuzenveld - Slotermeer
11                IJburg - Zeeburgereiland
12                              Noord-Oost
13                              Noord-West
14  Oostelijk Havengebied - Indische Buurt
15                                  Osdorp
16                               Oud-Noord
17                                Oud-Oost
18                             Slotervaart
19                         Watergraafsmeer
20                              Westerpark
21                                    Zuid

In [42]:
# export neighbourhoods
neighbourhoods.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'neighbourhoods_wrangled.csv'))

## 06 Reviews Wrangling

In [43]:
# take a look at reviews
reviews.shape

(431830, 2)

In [44]:
reviews.head()

   listing_id        date
0        2818  2009-03-30
1        2818  2009-04-24
2        2818  2009-05-03
3        2818  2009-05-18
4        2818  2009-05-25

In [45]:
# check for missing values
reviews.isnull().sum()

listing_id    0
date          0
dtype: int64

In [46]:
# check for dups
reviews_dups = reviews[reviews.duplicated()]

In [47]:
#take a look 
reviews_dups.shape

(1321, 2)

### Reviews_details

In [48]:
#take a look
reviews_details.shape

(431830, 6)

In [49]:
reviews_details.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...

In [50]:
#check for nulls
reviews_details.isnull().sum()

listing_id         0
id                 0
date               0
reviewer_id        0
reviewer_name      0
comments         534
dtype: int64

In [51]:
#check for dups
reviews_details_dups = reviews_details[reviews_details.duplicated()]

In [52]:
reviews_details_dups.shape

(0, 6)

In [53]:
# check for mixed data type columns
for col in reviews_details.columns.tolist():
    weird = (reviews_details[[col]].applymap(type) != reviews_details[[col]].iloc[0].apply(type)).any(axis=1)
    if len (reviews_details[weird]) > 0:
        print (col)

comments

In [54]:
#make comments an object
reviews_details['comments'] = reviews_details['comments'].astype(str)

In [55]:
#check again
for col in reviews_details.columns.tolist():
    weird = (reviews_details[[col]].applymap(type) != reviews_details[[col]].iloc[0].apply(type)).any(axis=1)
    if len (reviews_details[weird]) > 0:
        print (col)

In [56]:
#export reviews_details
reviews_details.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'reviews_details_wrangled.csv'))

## 07 Listings_details wrangling

In [118]:
#take a look
listings_details.shape

(20030, 96)

In [119]:
listings_details.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month'],
      dtype='object')

In [120]:
# drop unnecessary columns
listings_details = listings_details.drop(columns = ['listing_url', 'scrape_id', 'last_scraped','summary','space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules','thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_url', 'host_name', 'host_about','host_acceptance_rate', 'host_thumbnail_url',
       'host_picture_url', 'host_total_listings_count', 'host_identity_verified', 'neighbourhood_group_cleansed','amenities','calendar_last_scraped','requires_license',
       'license', 'jurisdiction_names', 'is_business_travel_ready', 'require_guest_profile_picture', 'require_guest_phone_verification',
       'reviews_per_month'])

In [121]:
listings_details.columns

Index(['id', 'name', 'host_id', 'host_since', 'host_location',
       'host_response_time', 'host_response_rate', 'host_is_superhost',
       'host_neighbourhood', 'host_listings_count', 'host_verifications',
       'host_has_profile_pic', 'street', 'neighbourhood',
       'neighbourhood_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'square_feet', 'price',
       'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights',
       'calendar_updated', 'has_availability', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'cancellation_policy',
       'calculated_host_listings_count'],
      dtype='object')

In [122]:
details_nuls = listings_details.isnull().sum()

In [123]:
details_nuls.to_clipboard()

In [124]:
# check for mixed data type columns
for col in listings_details.columns.tolist():
    weird = (listings_details[[col]].applymap(type) != listings_details[[col]].iloc[0].apply(type)).any(axis=1)
    if len (listings_details[weird]) > 0:
        print (col)

name
host_since
host_location
host_response_time
host_response_rate
host_is_superhost
host_neighbourhood
host_verifications
host_has_profile_pic
neighbourhood
city
state
zipcode
market
weekly_price
monthly_price
security_deposit
cleaning_fee
first_review
last_review

In [125]:
listings_details = listings_details.drop(columns = ['host_verifications'])

In [126]:
listings_details[['host_since', 'cleaning_fee']].dtypes

host_since      object
cleaning_fee    object
dtype: object

In [127]:
#check for duplicates
list_deets_dups = listings_details[listings_details.duplicated()]

In [128]:
list_deets_dups.shape

(0, 60)

In [130]:
#split out host info
host_info = listings_details[['host_id', 'host_since',  'host_location',  'host_response_time', 'host_response_rate', 'host_is_superhost', 'host_neighbourhood', 'host_listings_count']]

In [131]:
#take a look
host_info.shape

(20030, 8)

In [132]:
#check for missing values
host_info.isnull().sum()

host_id                   0
host_since                4
host_location            39
host_response_time     9483
host_response_rate     9483
host_is_superhost         4
host_neighbourhood     5808
host_listings_count       4
dtype: int64

In [133]:
# check for duplicates
host_dups = host_info[host_info.duplicated()]

In [134]:
host_dups.shape

(2766, 8)

In [163]:
#make a clean dup free host_info
host_info_no_dups = host_info.drop_duplicates()

In [164]:
#check the shape
host_info_no_dups.shape

(17264, 8)

In [165]:
#replace it. 
host_info = host_info_no_dups

In [166]:
host_info['host_listings_count'].value_counts(dropna = False)

host_listings_count
1.0      15122
2.0       1566
3.0        279
4.0         93
5.0         43
6.0         35
0.0         22
8.0         16
7.0         13
9.0          7
11.0         6
12.0         6
13.0         6
10.0         5
NaN          4
19.0         4
15.0         3
14.0         3
16.0         3
24.0         2
38.0         2
17.0         2
28.0         1
130.0        1
23.0         1
33.0         1
698.0        1
271.0        1
32.0         1
96.0         1
287.0        1
20.0         1
27.0         1
34.0         1
21.0         1
213.0        1
18.0         1
49.0         1
48.0         1
29.0         1
26.0         1
108.0        1
109.0        1
25.0         1
Name: count, dtype: int64

In [167]:
host_info.head()

,host_id,host_since,host_location,host_response_time,host_response_rate,host_is_superhost,host_neighbourhood,host_listings_count
0,3159,2008-09-24,"Amsterdam, Noord-Holland, The Netherlands",within an hour,100%,t,Indische Buurt,1.0
1,3806,2008-10-24,"Amsterdam, Noord-Holland, The Netherlands",within an hour,100%,f,Spaarndammer en Zeeheldenbuurt,1.0
2,59484,2009-12-02,"Amsterdam, Noord-Holland, The Netherlands",within a few hours,100%,f,Grachtengordel,2.0
3,56142,2009-11-20,"New York, New York, United States",within a few hours,100%,f,Grachtengordel,2.0
4,97647,2010-03-23,"Amsterdam, Noord-Holland, The Netherlands",within an hour,100%,t,Westelijke Eilanden,1.0

In [168]:
# export host_info
host_info.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'host_info.csv'))

### Change datatypes

In [137]:
# remove the $
listings_details['price'] = listings_details['price'].str.extract('(\d+)', expand = False)

In [138]:
# change dtype
listings_details['price'] = listings_details['price'].astype(float)

In [139]:
# remove the $
listings_details['weekly_price'] = listings_details['weekly_price'].str.extract('(\d+)', expand = False)

In [140]:
# change dtype
listings_details['weekly_price'] = listings_details['weekly_price'].astype(float)

In [141]:
# remove the $
listings_details['monthly_price'] = listings_details['monthly_price'].str.extract('(\d+)', expand = False)

In [142]:
# change dtype
listings_details['monthly_price'] = listings_details['monthly_price'].astype(float)

In [143]:
# remove the $
listings_details['security_deposit'] = listings_details['security_deposit'].str.extract('(\d+)', expand = False)

In [144]:
# change dtype
listings_details['security_deposit'] = listings_details['security_deposit'].astype(float)

In [145]:
# remove the $
listings_details['cleaning_fee'] = listings_details['cleaning_fee'].str.extract('(\d+)', expand = False)

In [146]:
# change dtype
listings_details['cleaning_fee'] = listings_details['cleaning_fee'].astype(float)

In [147]:
# remove the $
listings_details['extra_people'] = listings_details['extra_people'].str.extract('(\d+)', expand = False)

In [148]:
# change dtype
listings_details['extra_people'] = listings_details['extra_people'].astype(float)

In [149]:
# check for mixed data type columns
for col in listings_details.columns.tolist():
    weird = (listings_details[[col]].applymap(type) != listings_details[[col]].iloc[0].apply(type)).any(axis=1)
    if len (listings_details[weird]) > 0:
        print (col)

name
host_since
host_location
host_response_time
host_response_rate
host_is_superhost
host_neighbourhood
host_has_profile_pic
neighbourhood
city
state
zipcode
market
first_review
last_review

In [150]:
# change dtype
listings_details['name'] = listings_details['name'].astype(str)

In [151]:
# change dtype
listings_details['host_location'] = listings_details['host_location'].astype(str)

In [152]:
# change dtype
listings_details['host_response_time'] = listings_details['host_response_time'].astype(str)

In [153]:
# change dtype
listings_details['host_is_superhost'] = listings_details['host_is_superhost'].astype(str)

In [154]:
listings_details['host_is_superhost'].value_counts(dropna = False)

host_is_superhost
f      16856
t       3170
nan        4
Name: count, dtype: int64

In [155]:
# change dtype
listings_details['host_neighbourhood'] = listings_details['host_neighbourhood'].astype(str)

In [156]:
# change dtype
listings_details['host_has_profile_pic'] = listings_details['host_has_profile_pic'].astype(str)

In [157]:
# change dtype
listings_details['neighbourhood'] = listings_details['neighbourhood'].astype(str)

In [158]:
# change dtype
listings_details['city'] = listings_details['city'].astype(str)

In [159]:
# change dtype
listings_details['state'] = listings_details['state'].astype(str)

In [160]:
# change dtype
listings_details['zipcode'] = listings_details['zipcode'].astype(str)

In [161]:
# change dtype
listings_details['market'] = listings_details['market'].astype(str)

In [162]:
#check again 
for col in listings_details.columns.tolist():
    weird = (listings_details[[col]].applymap(type) != listings_details[[col]].iloc[0].apply(type)).any(axis=1)
    if len (listings_details[weird]) > 0:
        print (col)

host_since
host_response_rate
first_review
last_review

In [106]:
#seperate the prices and reviews
list_num = listings_details[['id', 'host_id', 'square_feet', 'price',
       'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights','number_of_reviews',
        'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value','calculated_host_listings_count']]

In [107]:
list_num.shape

(20030, 21)

In [108]:
list_num.head(10)

,id,host_id,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,...,maximum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count
0,2818,3159,NaN,59.0,NaN,1.0,100.0,50.0,1,20.0,...,15,248,97.0,10.0,10.0,10.0,10.0,9.0,10.0,1
1,3209,3806,NaN,160.0,543.0,2.0,300.0,40.0,2,15.0,...,20,42,96.0,10.0,9.0,10.0,10.0,9.0,9.0,1
2,20168,59484,NaN,80.0,NaN,NaN,NaN,NaN,2,0.0,...,1000,233,87.0,9.0,10.0,9.0,9.0,10.0,9.0,2
3,25428,56142,NaN,125.0,650.0,2.0,300.0,40.0,2,10.0,...,60,1,100.0,10.0,10.0,10.0,10.0,10.0,10.0,2
4,27886,97647,NaN,150.0,810.0,2.0,0.0,0.0,1,0.0,...,730,171,99.0,10.0,10.0,10.0,10.0,10.0,10.0,1
5,28658,123414,NaN,65.0,NaN,NaN,150.0,15.0,2,0.0,...,15,434,93.0,9.0,10.0,10.0,9.0,9.0,9.0,2
6,28871,124245,NaN,75.0,499.0,1.0,NaN,NaN,1,0.0,...,1825,215,97.0,10.0,10.0,10.0,10.0,10.0,10.0,3
7,29051,124245,NaN,55.0,350.0,1.0,NaN,NaN,1,0.0,...,730,383,95.0,10.0,10.0,10.0,10.0,10.0,10.0,3
8,31080,133488,NaN,219.0,1.0,4.0,NaN,60.0,4,30.0,...,365,32,95.0,9.0,10.0,10.0,10.0,9.0,9.0,1
9,41125,178515,NaN,180.0,650.0,1.0,150.0,40.0,2,75.0,...,21,76,95.0,10.0,9.0,10.0,10.0,10.0,9.0,1

In [169]:
#export list_num
list_num.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'listings_numeric.csv'))

In [171]:
#export listings_details
listings_details.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'listings_details_wrangled.csv'))